.container {
  width: 100%;
  margin: 0 auto;

  .text-primary {
    color: #007297 !important;
  }

  h1 {
    font-size: 2rem;
    color: #776ba5;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

.logo {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  margin-left: 10px;
}

.book {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
  .book-title {
    font-size: 1rem;
    font-weight: 500;
    color: #007297;
    margin-bottom: 0.5rem;
  }
  
  .book-details {
    font-size: 1rem;
    color: #444f5a;
    margin-bottom: 1rem;
  }
  
  .book-category {
    font-size: 1rem;
    color: #5a6877;
    margin-bottom: 1rem;
  }
  
  .book-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .book-btn {
      font-size: 1rem;
      font-weight: 500;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      transition: all 0.3s ease;
      
      &.btn-details {
        color: #fff;
        background-color: #776ba5;
        border-color: #776ba5;
        
        &:hover {
          background-color: #5a487c;
          border-color: #5a487c;
        }
      }
    }
  }
}

.btn-reserve {
  color: #fff;
  background-color: #ff9999;
  border-color: #ff9999;
  
  &:hover {
    background-color: #e68a8a;
    border-color: #e68a8a;
  }
}

.container-2 {
  .row {
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    background-color: #fff;
    padding: 50px;
    
    img {
      border-radius: 10px;
    }
    
    h1 {
      font-size: 3rem;
      font-weight: 600;
    }
    
    .book-info {
      display: flex;
      
      .book-info-label {
        font-size: 1rem;
        color: #2e353d;
        font-weight: 500;
        width: 200px;
        margin-right: 20px;
      }
      
      .book-info-value {
        font-size: 1rem;
        color: #444f5a;
        font-weight: 500;
      }
    }
    
    .btn {
      margin-top: 30px;
      padding: 12px 40px;
      border-radius: 20px;
      font-size: 1rem;
      font-weight: 500;
      transition: all 0.3s ease;
      
      &:hover {
        transform: translateY(-3px);
      }
    }
    
    .btn-primary {
      color: #fff;
      background-color: #776ba5;
      border-color: #776ba5;
    }

    .btn-edit {
      color: #fff;
      background-color: #ff9999;
      border-color: #ff9999;
      
      &:hover {
        background-color: #e68a8a;
        border-color: #e68a8a;
      }
    }
    
    .btn-primary:hover {
      background-color: #5a487c;
      border-color: #5a487c;
    }
    
    .btn-danger {
      color: #fff;
      background-color: #ff9999;
      border-color: #ff9999;
    }
    
    .btn-danger:hover {
      background-color: #e68a8a;
      border-color: #e68a8a;
    }
    
    .book-info {
      margin-top: 1rem;
    
      h2 {
        font-size: 1rem;
        font-weight: 500;
        color: #2e353d;
        margin-bottom: 1rem;
      }
    
      .book-info-item {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    
        .book-info-label {
          font-size: 1rem;
          color: #444f5a;
          min-width: 8rem;
        }
    
        .book-info-value {
          font-size: 1rem;
          color: #5a6877;
          flex-grow: 1;
        }
      }
    }
  }
}
/* variables */
$primary-color: #ff9999;
$light-gray: #f8f9fa;
$dark-gray: #5a6877;
$black: #2e353d;
$light-red: #ffcccc;

.requests-container {

  a {
    color: #007297;
    text-decoration: none;
  }

  h2 {
    color: #776ba5;
  }

  .cancelled {
    background-color: #DDDDDD;
  }

  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .book-info {
      flex: 1;
      margin-right: 10px;

      .book-title {
        font-size: 1.2rem;
        margin-bottom: 5px;
        color: $black;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
          color: $primary-color;
        }
      }

      .book-author {
        font-size: 1rem;
        color: $dark-gray;
        margin-bottom: 0;
      }
    }

    .cancel-btn {
      margin-left: 10px;
      background-color: $dark-gray;
      border: none;
      color: white;
      font-size: 1rem;
      padding: 10px 20px;
      border-radius: 5px;
      transition: all 0.3s;

      &:hover {
        background-color: #776ba5;
        cursor: pointer;
      }
    }
  }

  /* media queries */
  @media only screen and (max-width: 576px) {
    .container {
      padding: 10px;
    }

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    .book-title {
      font-size: 1rem;
    }

    .book-author {
      font-size: 0.8rem;
    }

    .cancel-btn {
      font-size: 0.8rem;
      padding: 5px 10px;
    }
  }
}
